/* resets */
* {
    font-family: sans-serif;
}

button {

    background-color: rgb(15, 98, 146);
    color: #fff;
    border-radius: 25px;
    font-size: 20px;
    margin: 10px;

}

/* Global Classes */
.hide {
    display: none;
}

.show {
    display: block;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
}


.justify-between {
    justify-content: space-between;

}

.margin-top {
    margin-top: 100px;
}

/* Custom Style */

header h3 {
    margin: 0;
}

.answer {
    border-top: 1px solid #aaa;
    padding-top: 15px;
    font-style: italic;
    color: #999;

}

.auto-margin {
    display: block;
    margin: 0 auto;
}

button:hover {
    transform: scale(1.2);
}